@font-face {
  font-family: 'NorthEternal';
  src: url('https://dieseltheyeen.github.io/recs/norad/north-eternal.otf') format('opentype');
}

.theme {outline: 1px dashed rebeccapurple;}

details {
  background: #00809e;
  min-height: 40px;
  border-radius: 10px;
  margin-bottom: 8px;
  border:2px ridge #d9d9d9;
}

summary {
  background: #00add4;
  height: 30px;
  border-radius: 10px 10px 0px 0px;
  line-height: 30px;
  font-size: 16px;
  text-align: center;
}
summary::marker {
  content: none;
}

#content {
  background: #0016;
  border-radius: 74px;
}

.title {
  display: none;
}

.packbanner {
  position: relative;
  z-index: 0;
  border-radius: 70px;
  padding: 16px;
  background: url('https://ik.imagekit.io/dzl/gen/tileable-wood.png?tr=rt-90,w-240,e-colorize-co-4e6364') center #00add4 !important;
  box-shadow: inset 0 0 30px 10px #000a;
}
.packbanner::before {
  content: '';
  position: absolute;
  inset: 2px;
  background: #0000;
  background-clip:padding-box;
  border: 5px ridge #fff;
  border-radius: 70px;
  z-index: -1;
}

.packbanner h1 {
  text-transform: uppercase;
  font: 52px 'NorthEternal';
  margin: 16px 0px 0px 0px;
  line-height: 1;
}

.packbanner h2 {
  font: 20px 'NorthEternal';
  margin: 0px;
  line-height: 1.7;
}

h2, h1 {
  font-family: "NorthEternal";
  color: white !important;
}
