@font-face {
    font-family: NorthEternal;
    src: url("https://dieseltheyeen.github.io/recs/norad/north-eternal.otf") format("opentype");
}

#content {
    background: rgba(0, 0, 17, 0.4);
    border-radius: 74px;
}

.title {
    display: none;
}

.packbanner {
    aspect-ratio: 1075 / 253;
    position: relative;
    background: url("https://ik.imagekit.io/dzl/a/n/banner.png") center center / 100% no-repeat !important;
}

.packbanner h1, .packbanner h2, .packbanner h2::after {
    position: absolute;
    opacity: 0.85;
    text-shadow: none;
    -webkit-text-stroke: 0.5px rgb(43, 43, 43);
}

.packbanner h1 {
    inset: 28% 0px auto;
    font-size: 3.2vw;
}

.packbanner h1::before, .packbanner h1::after {
    content: "";
    display: inline-block;
    width: 4em;
    aspect-ratio: 51 / 13;
    background: url("https://ik.imagekit.io/dzl/a/n/flourish-1.png") center center / 100% no-repeat;
    transform: translateY(0.9vw);
    filter: drop-shadow(rgb(43, 43, 43) 0px 0px 6px);
}

.packbanner h2 {
    inset: 55% 0px auto;
    font-size: 1.4vw;
}

.packbanner h2::after {
    content: "Lawful Nuetral";
    inset: 180% 0px auto;
    font-size: 0.9vw;
    -webkit-text-stroke: 0px;
}

.packwrap .flex.fill {
    & h2 {
        text-align: center;
    }

    & ul {
        display: flex;
        gap: 40px;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px;
    }

    & ul li {
        list-style: none;
    }

    & ul li {
        & a {
            text-align: center;
            width: 180px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100px;
            background: rgba(0, 0, 0, 0.267);
            filter: brightness(0.85);
            box-shadow: rgba(0, 0, 0, 0.667) 0px 0px 12px;
            border: 4px ridge rgb(138, 142, 145);
            color: white !important;
            text-shadow: rgb(0, 0, 0) 0px 0px 6px !important;
        }

        & a: hover {
            box-shadow: rgba(255, 255, 255, 0.667) 0px 0px 20px;
            filter: brightness(1);
            transition: 0.1s;
        }

        & a[href$="144"] {
            background: url("https://www.ardently.org/images/lands/144.jpg") center top / 100%;
        }

        & a[href$="133"] {
            background: url("https://www.ardently.org/images/lands/133.jpg") center top / 100%;
        }

        & a[href$="122"] {
            background: url("https://www.ardently.org/images/lands/122.jpg") center top / 100%;
        }

        & a[href$="127"] {
            background: url("https://www.ardently.org/images/lands/127.jpg") center top / 100%;
        }

        & a[href$="41"] {
            background: url("https://www.ardently.org/images/lands/41.jpg") center top / 100%;
        }
    }
}

.packwrap > :last-child {
    & ul {
        list-style: armenian;
    }
}

h2, h1 {
    font-family: NorthEternal;
    color: white !important;
}

div:has(.remove-parent-header)>h2:first-child {
    display: none;
}

.panel {
    border-radius: 0px;
    border: 6px ridge rgb(138, 142, 145);
    box-shadow: rgba(0, 0, 0, 0.667) 0px 0px 20px 0px inset, rgba(34, 68, 68, 0.667) 0px 0px 60px 20px inset;
    margin: 0px;
    padding: 24px;
    background: url("https://ik.imagekit.io/dzl/gen/tileable-wood.png?tr=rt-90,w-240,e-colorize-co-224444") center top rgb(0, 173, 212) !important;
}

.panel h2 {
    text-align: center;
    text-shadow: rgb(0, 0, 0) 0px 0px 12px;
}

.tab-group {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.tab-group details {
    display: contents;
}

.tab-group summary {
    grid-row: 1;
    text-align: center;
    width: 110px;
    margin: auto;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.tab-group details[open] summary {
    border-bottom: 2px solid;
    border-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgb(255, 255, 255), rgb(255, 255, 255), rgba(0, 0, 0, 0)) 1 / 1 / 0 stretch;
    color: white !important;
}

.tab-group details:not([open])::details-content {
    display: none;
}

.tab-group details::details-content {
    grid-area: 2 / 1 / auto / span 5;
    margin-top: 10px;
}

ul:has(i.fa-solid.fa-paw-claws):not(nav ul) {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 20px;
}

ul:has(i.fa-solid.fa-paw-claws):not(nav ul) li {
    min-width: 40%;
    flex: 1 1 0%;
}

ul:has(i.fa-solid.fa-paw-claws):not(nav ul) i:has(~ b) {
    width: 60px;
    height: 60px;
    float: left;
    background: url("https://ik.imagekit.io/dzl/gen/tileable-wood.png?tr=rt-0,w-140,e-colorize-co-224444") center center rgb(0, 173, 212);
    border: 3px ridge;
    border-radius: 50%;
    margin-right: 10px;
}

ul:has(i.fa-solid.fa-paw-claws):not(nav ul) i:has(~ b)::before {
    font-size: 35px;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}
