/* Apply to all award blocks */
.signature a[href$="pack=4#poi"] link {
  outline: 1px dashed magenta;
  display: block;
  height: 50px;
}

/* Override for user 6022 */
.postwrap:has(a[href$="6022"]) .signature a[href$="pack=4#poi"] link {
  outline: 1px dashed green;
}
