.dsl-atreyu-v3 {
  border: 4px solid transparent;
  position: relative;
  min-height: 330px;
  width: 640px;
  margin: 40px auto;
  padding: 30px;
  border-image: linear-gradient(135deg, #f7e7ce 0%, #d4af37 100%) 1;
  backdrop-filter: blur(4px);
  background: #ffff;
  color: ;
  filter: drop-shadow(0px 0px 6px #000A);
  
  bdr {
    position: absolute;
    inset: -20px;
    background: linear-gradient(135deg, #f7e7ce 0%, #d4af37 100%) fixed;
    --corner-size: 100px;
    mask: no-repeat url('https://dieseltheyeen.github.io/recs/generic/2351739-tr.svg') top right/var(--corner-size), no-repeat url('https://dieseltheyeen.github.io/recs/generic/2351739-br.svg') right bottom/var(--corner-size), no-repeat url('https://dieseltheyeen.github.io/recs/generic/2351739-tl.svg') left top/var(--corner-size), no-repeat url('https://dieseltheyeen.github.io/recs/generic/2351739-bl.svg') left bottom/var(--corner-size), no-repeat url('https://dieseltheyeen.github.io/recs/generic/8103125.svg') bottom center/240px;
  }
}

.postwrap.fill:has(.dsl-atreyu-v3) {
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.postwrap.fill:has(.dsl-atreyu-v3)::before {
  content: '';
  position: absolute;
  inset: 0px 0px 0px 0px;
  background: url('https://images.unsplash.com/photo-1501630834273-4b5604d2ee31?q=80&w=2000');
  filter: blur(1px);
  z-index: -1;
}
