@import url('https://fonts.googleapis.com/css2?family=Amarna:ital,wght@0,100..700;1,100..700&family=Charm:wght@400;700&display=swap');
.actual_post .dsl-atreyu-v4 {
  position: relative;
  width: 720px;
  max-width: 720px;
  margin: auto !important;
  display: flex;
  flex-direction: column;
  padding: 5px  !important;
  background: linear-gradient(-45deg, #e7abd7, #ac7fd4) !important;
  box-shadow: 0 6px 20px #000;
  
  b, .mycode_b {
    color: #ff8b9f;
  }

  top {
    height: 120px;
    background: url('https://ik.imagekit.io/arl60/Ardent/shop/Bird/Atreyu/atreyumanip.jpg?tr=w-740') center 0px;
    padding-top: 11px;
    h1, h2 {text-align: center;margin: 0px;color: #FFF;text-transform: uppercase;line-height: 50px !important;text-shadow: 0 0 6px;}
    h1 {font: 50px "Charm";}
    h2 {font: 40px "Charm";}
  }
  top::before, top::after {
    content: '-✿-';
    font: 70px "Charm";
    color: #FFF;
    position: absolute;
    top: 8px;
    left: 70px;
  }
  top::after {
    left: auto;
    right: 70px;
  }
  cont {
    background: #fefefe;
    padding: 1em;
    text-align: justify;
    color: #000A;
    font: 14px "Amarna";
  }
  bot {
    height: 260px;
    background: url('https://ik.imagekit.io/arl60/Ardent/shop/Bird/Atreyu/atreyumanip.jpg?tr=w-740') center;
    position: relative;
  }
  q {
    backdrop-filter: blur(6px);
    color: white;
    text-shadow: 0 0 4px white;
    text-align: center;
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0px;
  }
}
