.dsl-deo-v1 {
  position: relative;
  width: 540px;
  margin: auto auto 10px;
  background: #363634 radial-gradient(#0000 20%, #111);
  box-shadow: 0 0 12px #000;
  border: 1px solid #363634;
}

.dsl-deo-v1 #art {
  mask: linear-gradient(#FFF 86%, #0000 98%);
  pointer-events: none;
}

.dsl-deo-v1 b, .dsl-deo-v1 .mycode_b {
  font-weight: normal !important;
  color: #0000;
  background: linear-gradient(#9ee762, #4b702c);
  -webkit-background-clip: text;
}

.dsl-deo-v1 content {
  text-align: justify;
  padding: 0px 30px 15px;
  display: block;
  color: #807b71;
}

.dsl-deo-v1::after {
  content: "Code by Diesel ♥";
  position: absolute;
  bottom: -24px;
  width: 100%;
  text-align: center;
  opacity: 0.5;
}
