.dsl-deo-v2 {
  position: relative;
  width: 510px;
  margin: auto;
  text-align: justify;
  padding: 70px;
  min-height: 580px;
  background: #636B2F;
  color: #EEE;
}

.dsl-deo-v2 #border {
  position: absolute;
  inset: 0px;
  mask: url("https://ik.imagekit.io/dzl/gen/APF92S.png?tr=rt-0") 3px 3px / 120px no-repeat, url("https://ik.imagekit.io/dzl/gen/APF92S.png?tr=rt-90") calc(100% - 3px) 3px / 120px no-repeat, url("https://ik.imagekit.io/dzl/gen/APF92S.png?tr=rt-270") 3px calc(100% - 3px) / 120px no-repeat, url("https://ik.imagekit.io/dzl/gen/APF92S.png?tr=rt-180") calc(100% - 3px) calc(100% - 3px) / 120px no-repeat, linear-gradient(#fff 3px, #0000 3px), linear-gradient(90deg, #fff 3px, #0000 3px), linear-gradient(1800deg, #fff 3px, #0000 3px), linear-gradient(270deg, #fff 3px, #0000 3px);
  background: linear-gradient(200deg,rgba(198, 119, 0, 1) 0%, rgba(252, 255, 158, 1) 49%, rgba(255, 255, 255, 1) 54%, rgba(252, 255, 158, 1) 55%, rgba(255, 255, 255, 1) 67%, rgba(252, 255, 158, 1) 68%, rgba(198, 119, 0, 1) 100%);
  background-attachment: fixed;
}
