#content {
    background: linear-gradient(#36393d, #1f2123), url('https://www.transparenttextures.com/patterns/subtle-grunge.png');
    background-blend-mode: color-burn;
    box-shadow: inset 0 0 130px #000A;
    border: 1px solid #505050;
    color: #a6a6a6;
}
