@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body {
  --header-color: #736755;
  --head-block-color: #3a302a;
  background: linear-gradient(#060606, #302114) fixed !important;
  background: linear-gradient(45deg, #000A, #0000, #000A) fixed, url('https://ik.imagekit.io/dzl/gen/dark-wood.png?tr=bl-4') center, linear-gradient(#cd965a) !important;
  box-shadow: inset 0 0 110px #000;
}
a {
  color: contrast-color(var(--head-block-color)) !important;
  &:hover {
    color: contrast-color(var(--head-block-color)) !important;
    filter: brightness(0.5);
  }
}
nav, .dropdown-menu, .thead, input, textarea, select {
  background: var(--head-block-color);
}
h2 {color: var(--header-color) !important;
  font: 300 30px 'noto sans';}
#content > div > div:nth-child(3) {
  position: absolute;
  inset: -18px 0px auto auto;
  opacity: 0.6;
}
#content {
    background: linear-gradient(#36393d, #1f2123), url('https://www.transparenttextures.com/patterns/subtle-grunge.png');
    background-blend-mode: color-burn;
    box-shadow: inset 0 0 130px #000A, 0px 0px 40px #000A;
    border: 1px solid #505050;
    color: #a6a6a6;
    position: relative;
    margin: 50px auto 0px;
}
.packbanner {
  background: none;
  position: absolute;
  z-index: 0;
  padding: 15px 0px 0px;
  margin: 0px;
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  inset: -50px -50px auto -50px;
  
  &:before {
    content: '';
    display: block;
    position: absolute;
    border-image: url('https://ik.imagekit.io/dzl/a/ironpaw/pkg/banner2.png?tr=w-1200');
    border-style: solid;
    border-image-slice: 59;
    border-width: 50px;
    inset: 0px;
    z-index: -1;
  }
  
  h1 {
    font-size: min(3em, 4vw);
    margin: 0px;
    
      &:before {
      content: '';
      display: inline-block;
      width: 60px;
      height: 60px;
      background: url('https://ik.imagekit.io/dzl/a/ironpaw/paw.png?tr=e-colorize-co-cccccc_in-60,h-50') center no-repeat;
      vertical-align: -webkit-baseline-middle;
    }
}
  h2 {font-size: 1.2em;transform: translateY(-100%);}
}
.packbanner ~ p:first-of-type {max-width: 650px;margin: 40px auto 0px;text-align: center;}
.ooc {
  &:before {
    content: 'OOC Note:';
    position: absolute;
    top: 0px;
    left: 3px;
    color: #736755;
  }
  position: relative;
  padding: 1.5em 1em 0.7em;;
  background: #0006;
  border: 1px solid #444;
  text-align: justify;
}
div:has(>.hide-misc) {
    display: none;
}
.flex.fill:has(.user-flex-group)>div>h2 {
  display: none;
}
.user-flex-group {
  display: flex;
  gap: 20px;
  text-align: justify;
  flex-wrap: wrap;
  div {
    flex: 1;
    min-width: 260px;
  }
}
.contracts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
contract {
  position: relative;
  border-style: solid;
  border-image: url('https://ik.imagekit.io/dzl/a/ironpaw/pkg/panel-header-port.png');
  border-image-slice: 170 40 40 40 fill;
  border-width: 85px 20px 20px;
  max-width: 330px;
  box-shadow: 2px 2px 20px #000a;
  padding: 4px 4px 60px;
  text-align: justify;  
  
  name {
    font-size: 2em;
    display: block;
    text-align: center;
    margin: -74px 0px 74px;
    color: var(--header-color);}
  location {
    position: absolute;
    inset: 4px 4px auto auto;
    a {background: #71acc2; border-radius: 1em; padding: 0px 6px; margin-left: 6px;color: contrast-color(#71acc2) !important;}
    & a:before {
      font-family: "Font Awesome 6 Pro";
      content: '\f3c5  ';
    }
  }
  packs {
    position: absolute;
    inset: 4px auto auto 4px;
    a {background: var(--c); color: contrast-color(var(--c)) !important; border-radius: 1em; padding: 0px 6px; margin-right: 6px;}
    & a:before {
      content: "\f702";
      font-family: "Font Awesome 6 Pro";
      margin-right: 4px;
      font-weight: 900;
    }
  }
  hr {
    margin: 0px;
    height:   16px !important;
    background: url('https://ik.imagekit.io/dzl/a/ironpaw/pkg/hr.png') center/100% 100% no-repeat;
    image-rendering: crisp-edges;
  }
  rewards {
    
  padding: 10px;
      * {
      margin: 0px;
      padding: 0px;
    }
}
  gems {
  &:before {
    content: '\f3a5';
    font-family: "Font Awesome 6 Pro";
    color: #ccc;
    margin-right: 4px;
  }
  }
  button {
    position: absolute;
    background: url('https://ik.imagekit.io/dzl/a/ironpaw/pkg/button_gray.png') center/100%;
    aspect-ratio: 173 / 65;
    height: unset;
    width: 130px;
    inset: auto auto -12px calc(50% - 65px);
    color: #a2998b;
    
    &:hover {
      color: #a2998b !important;
      filter: brightness(1.2);
    }
    &:active {
      filter: brightness(0.7);
    }
}
}

ul:has(rel) {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  padding: 0px;
  
  &>li {
    flex: 1;
    text-align: center;
  }

  rel {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    min-width: 300px;

    i {text-align: center;font-size: 0.8em;display: flex;align-self: center;justify-self: center; width: min-content;}
    i:nth-of-type(1) {grid-row: 1; grid-column: 1;}
    i:nth-of-type(2) {grid-row: 1; grid-column: 2;}
    i:nth-of-type(3) {grid-row: 1; grid-column: 3;}
    i:nth-of-type(4) {grid-row: 1; grid-column: 4;}
    i:nth-of-type(5) {grid-row: 1; grid-column: 5;}
    s {grid-row: 2;grid-column: 1 / span 5;width:85%;margin: auto;height:8px;border-radius: 5px;border: 2px solid #514b46;background: #1d120f;}
    m {grid-row: 2;display: block;background: #26dae1;width: 10px;height: 10px;margin: auto;transform: rotate(45deg) skew(10deg, 10deg);border: 2px solid #514b46;}
    p {grid-row: 3; grid-column: 1 / span 5; padding: 6px;}
  }
}
