body {
  --header-color: #736755;
  --head-block-color: #5d4d3e;
  background: linear-gradient(#060606, #302114) fixed !important;
}
a {
  color: contrast-color(var(--head-block-color)) !important;
  &:hover {
    color: contrast-color(var(--head-block-color)) !important;
    filter: brightness(0.5);
  }
}
nav, .dropdown-menu, .thead, input, textarea, select {
  background: var(--head-block-color);
}
h2 {color: var(--header-color) !important;}
#content {
    background: linear-gradient(#36393d, #1f2123), url('https://www.transparenttextures.com/patterns/subtle-grunge.png');
    background-blend-mode: color-burn;
    box-shadow: inset 0 0 130px #000A;
    border: 1px solid #505050;
    color: #a6a6a6;
}
.packbanner {
  h1 {
    font-size: 3em;
    margin: 0px 0px -0.6em;
      &:before {
      content: '';
      display: inline-block;
      width: 80px;
      height: 80px;
      background: url('https://ik.imagekit.io/dzl/a/ironpaw/paw.png?tr=e-colorize-co-cccccc_in-60,h-80') center no-repeat;
      
      vertical-align: central;
    }
}
  h2 {font-size: 1.5em;transform: translateX(30px);}
}
.packbanner ~ p:first-of-type {width: 650px; margin: auto; text-align: center;}
.ooc {
  &:before {
    content: 'OOC Note:';
    position: absolute;
    top: 0px;
    left: 3px;
    color: #736755;
  }
  position: relative;
  padding: 1.5em 1em 0.7em;;
  background: #0006;
  border: 1px solid #444;
  text-align: justify;
}
div:has(>.hide-misc) {
    display: none;
}
.flex.fill:has(.user-flex-group)>div>h2 {
  display: none;
}
.user-flex-group {
  display: flex;
  gap: 20px;
  text-align: justify;
  div {
    flex: 1;
  }
}
.contracts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
contract {
  position: relative;
  border: 1px solid #444;
  flex: 1;
  max-width: 260px;
  padding: 1.4em 1em 60px;
  text-align: justify;
  background: #0006;
  
  name {font-size: 2em; display: block;text-align: center; position: relative;margin: 12px 0px;color: var(--header-color);}
  location {
    position: absolute;
    inset: 4px 4px auto auto;
    a {background: #71acc2; border-radius: 1em; padding: 0px 6px; margin-left: 6px;color: contrast-color(#71acc2) !important;}
    & a:before {
      font-family: "Font Awesome 6 Pro";
      content: '\f3c5  ';
    }
  }
  packs {
    position: absolute;
    inset: 4px auto auto 4px;
    a {background: var(--c); color: contrast-color(var(--c)) !important; border-radius: 1em; padding: 0px 6px; margin-right: 6px;}
    & a:before {
      content: "\f702";
      font-family: "Font Awesome 6 Pro";
      margin-right: 4px;
      font-weight: 900;
    }
  }
  gems {
    display: block;
    margin-top: 1em;
  &:before {
    content: '\f3a5';
    font-family: "Font Awesome 6 Pro";
    color: #85bcb9;
    margin-right: 4px;
  }
  }
  button {
    position: absolute;
    inset: auto auto 0px calc(50% - 56px);
    width: 100px;
    height: 30px;
  }
}
