input:not(:placeholder-shown):valid~div {
  display: block !important;
}

.ironpaw {
  &.panel {
    background: linear-gradient(#36393d, #1f2123), url('https://www.transparenttextures.com/patterns/subtle-grunge.png');
    background-blend-mode: color-burn;
    box-shadow: inset 0 0 130px #000A;
    padding: 20px 40px 40px;
    border: 1px solid #505050;
    border-radius: 0px;
    color: #a6a6a6;
    max-width: 900px;
    margin: auto;
  }
  .panel {
    outline: 1px solid #505050;
    margin: 0px;
    background: #0008;
    border-radius: 0px;
  }
  .contract {
    flex: 1;
    text-align: justify;
    padding: 6px;
    position: relative;
    max-width: 270px;
  }
  .contract h3 {
    color: #736755;
    text-align: center;
  }
  .contract button {    
    display: block;
    position: absolute;
    inset: auto auto 0px calc(50% - 65px);
    width: 130px;
    height: 28px;
  }
  h2 {
    
  margin: 0px;
  background: #0008;
  display: inline-block;
  padding: 0px 40px 0px 6px;
  mask: linear-gradient(45deg, #000, #000 calc(100% - 30px), #0000 calc(100% - 31px));
  border-style: solid;
  border-width: 1px 0px;
  color: #736755;
  }
}
