.sea-dsl-mis-blk-v1 {
    --margin-top: 20px;
    width: 640px;
    margin: 0px auto;
    border: 4px double hsl(from var(--fg-color) h calc(s * 0.3) calc(l * 1.2));
    box-shadow: 0px 0px 15px #000000;
    border-radius: 10px;
    background: var(--bg-color);

    position: relative;
    #contents {
        border-width: 0px 2px;
        border-style: solid;
        border-image: linear-gradient(to top, transparent, var(--fg-color) 50%, transparent) 1;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
        font-size: 14px;
        line-height: 15px;
        font-family: times;
        letter-spacing: 1px;
        color: color-mix(contrast-color(var(--bg-color)), var(--bg-color) 10%);
        margin: var(--margin-top) 30px 20px;
        z-index: 1;
        position: inherit;
    }

    .mycode_b, b {
        color: var(--fg-color)
    }

    #art {
        border-radius: 10px;
        mask: linear-gradient(0deg, transparent, #000 var(--fade));
    }
}
