@font-face {font-family: OldLondon; src: url('https://dieseltheyeen.github.io/recs/fonts/OldLondon.ttf');}

.dsl-blk-v1 b, .dsl-blk-v1 .mycode_bb, .dsl-blk-v1 speak {
  font-weight: normal;
  color: var(--speech);
}

.dsl-blk-v1 {
  width: 500px;
  margin: 40px auto 0;
  padding: 30px 0px;
  background: #0e0e0f;
  position: relative;
  background: #0e0e0f;
  box-shadow: inset 0 0 60px #000, 0px 16px 16px -3px #000;
  z-index: 0;
  border: 1px solid;border-image: linear-gradient(0deg, #486182, #b3bebb) 1;
}

.dsl-blk-v1::before {
  content: '';
  position: absolute;
  inset: 0;
  mask: url('https://i.imgur.com/6OXsAgj.png') center/400px;
  z-index: -1;
  background: #19191e;
  box-shadow: inset 0 0 60px #000;
}

.dsl-blk-v1 #img-wrap {
position: relative;width: 400px;height: 400px;--slant: 100px;margin: auto;z-index: 1;
}

.dsl-blk-v1 #img-bg-cont {
  background: linear-gradient(#486182, #b3bebb);
  width: 380px;
  margin-left: auto;
  clip-path: polygon(var(--slant) 0%, 100% 0%, calc(100% - var(--slant)) 100%, 0% 100%);padding: 3px 4px;
}
.dsl-blk-v1 #img-bg {
  object-fit: fill;
  clip-path: polygon(var(--slant) 0%, 100% 0%, calc(100% - var(--slant)) 100%, 0% 100%);
  height: 395px;
  width: 100%;
  filter: brightness(0.8) blur(1.0px);
}
.dsl-blk-v1 #img-cont {position: absolute;inset: 0;clip-path: polygon(0 0, calc(100% - 3px) 0, calc(100% - var(--slant) - 4px) calc(100% - 3px), 0 calc(100% - 3px));}
.dsl-blk-v1 #img {position: absolute;top: -10px;width: 740px;max-width: unset;left: -130px;}

.dsl-blk-v1 #header {
  position: relative;
  bottom: 40px;
  color: #aaa;
  text-shadow: 0 0 6px #000, 0 0 12px #000;
}
.dsl-blk-v1 #header::before {
  content: var(--name);
  position: absolute;
  font: 68px 'OldLondon';
  bottom: 22px;
  right: 0px;
}
.dsl-blk-v1 #header::after {
  content: var(--rank);
  position: absolute;
  right: 0px;
  bottom: -10px;
  font: 27px 'OldLondon';
  color: var(--speech);
}

.dsl-blk-v1 hr {
  all: unset;
  display: block;
  background: linear-gradient(30deg, #555 42%, #fff8, #555 58%);
  width: 100%;
  height: 20px !important;
  mask: url('data:image/svg+xml,%3Csvg%20fill%3D%22%23000%22%20viewBox%3D%220%200%20100%2010%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M96.88%204.76c.13%200%20.24.11.26.24%200%20.13-.11.24-.24.24H71.66c-.5%200-.99.03-1.48.09l-9.65%201.15-.13-1.24h-.29L57.1%206.6l-2.09-1.28a.6.6%200%200%200-.28-.08.56.56%200%200%200-.43.21c-.55.65-2.26%201.13-4.29%201.13s-3.74-.48-4.29-1.13a.6.6%200%200%200-.43-.21c-.1%200-.2.03-.28.08L42.92%206.6l-3.01-1.36h-.29l-.13%201.24-9.66-1.15c-.49-.06-.99-.09-1.48-.09H3.12c-.13%200-.24-.11-.24-.24s.11-.24.24-.24h25.23c.5%200%20.99-.03%201.48-.09l9.65-1.15.13%201.24h.29l3.01-1.36L45%204.68c.09.05.18.08.28.08.17%200%20.32-.08.43-.21.55-.65%202.26-1.13%204.29-1.13s3.74.48%204.29%201.13c.11.12.26.21.43.21.1%200%20.2-.03.28-.08l2.09-1.28%203.01%201.36h.28l.13-1.24%209.66%201.15c.49.06.99.09%201.48.09z%22%2F%3E%3C%2Fsvg%3E') center no-repeat;
}

@media (max-width: 1200px) {
.dsl-blk-v1::before {
  display: none;
}
}
