@import url('https://fonts.cdnfonts.com/css/wrecked-ship');
.postwrap.fill:has(.dsl-eddelwyn-v1) {position: relative; background: url('https://ik.imagekit.io/dzl/a/echo/skz72s.png?tr=w-1880,h-2180,cm-extract,x-60,y-0:w-1200') 0px max(50%, 100%)/100% no-repeat, #01020a; &::after {content: 'Code by Diesel ♥'; opacity: 0.4; position: absolute;right: 4px; bottom: 0px;}}
.dsl-eddelwyn-v1 {
  width: 670px; margin: 0px auto; background: #000A;
  text-align: justify;
  min-height: 400px;
  color: #958181;
  
  mask: url('https://ik.imagekit.io/dzl/gen/grunge-mask-01.png') center/100% 100%;
  padding: 90px 80px 80px 90px;
  h1 {
    font: 30px 'wrecked ship';
    position: relative;
    margin: 0px auto 40px;
    text-align: center;
  }
  h1:after {
    content: 'priestess';
    position: absolute;
    left: 0px;
    bottom: -20px;
    transform: scaleX(1.25) scaleY(0.9) perspective(0px) rotateX(0.6deg);
    text-align: center;
    width: 100%;
    color: transparent;
    text-shadow: none;
    background: linear-gradient(#2582d4c9, #0000 90%);
    background-clip: text;
  }
  
  b {
    font-weight: normal;
    color: #508dc2;
    text-shadow: 0 0 8px #5f8fff;
  }
  
  sep {
    display: block;
    text-align: center;
    font: 24px 'redressed';
    padding: 10px 0px 0px;
  }
  quote {
    font: italic 18px 'redressed';
    text-align: center;
    display: block;
  }
}
